<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelsunshine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelSunShine">
        <activity
            android:name=".activity.Diamond"
            android:exported="false" />
        <activity
            android:name=".activity.Silver"
            android:exported="false" />
        <activity
            android:name=".activity.Gold"
            android:exported="false" />
        <activity
            android:name=".activity.Packages"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RoomListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>